aiohttp
baidusearch
browser-use
chardet
decorators
dotenv
fastapi
flask
httpx[socks]
json_repair
langchain
langchain-community
langchain-core
langchain-deepseek
langchain-experimental
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
lightrag-hku[api]
markdownify
mcp
mcp-cli
mysql-connector-python
numpy
openpyxl
pandas
pdfplumber
pipmaster
psutil
python-docx
python-dotenv
python-pptx
pymilvus
readabilipy
sse-starlette
tenacity
tiktoken
trafilatura
uvicorn
dashscope
xlrd
PyPDF2
a2a-sdk[all]==0.3.11
pydantic
pillow
click
asyncclick
starlette
httpx-sse
pyjwt
typing-extensions
langchain-ollama>=1.1.0
langchain-anthropic>=1.4.6
langchain-cohere>=0.6.0
langchain-huggingface>=1.2.2
pyautogui>=0.9.54
tokenizers>=0.21,<0.22
onnxruntime

#playwright install chromium
#sudo apt install mysql-server
#sudo mysql -u root -p
#ALTER USER 'root'@'localhost' IDENTIFIED WITH caching_sha2_password BY 'your_password';
#FLUSH PRIVILEGES;
#exit;
#sudo vim /etc/mysql/mysql.conf.d/mysqld.cnf 修改bind-address = 0.0.0.0
#sudo systemctl restart mysql
mem0ai==2.0.18
milvus-lite
qdrant-client
